/*
 * This is a manifest file that'll be compiled into application.css, which will include all the files
 * listed below.
 *
 * Any CSS and SCSS file within this directory, lib/assets/stylesheets, vendor/assets/stylesheets,
 * or vendor/assets/stylesheets of plugins, if any, can be referenced here using a relative path.
 *
 * You're free to add application-wide styles to this file and they'll appear at the top of the
 * compiled file, but it's generally better to create a new file per style scope.
 *


 */


body { padding-top: 65px; 
  height: 600px;
  background-image: radial-gradient(center bottom, ellipse cover, #ffffff, #e9e9e9);
  background-image: -o-radial-gradient(center bottom, ellipse cover, #ffffff, #e9e9e9);
  background-image: -ms-radial-gradient(center bottom, ellipse cover, #ffffff, #e9e9e9);
  background-image: -moz-radial-gradient(center bottom, ellipse cover, #ffffff, #e9e9e9);
  background-image: -webkit-radial-gradient(center bottom, ellipse cover, #ffffff, #e9e9e9);
}

.navbar-default .navbar-brand {
  color: #d2d2d2;
}

.navbar-fixed-top {background-color: #222;}

#content a.more_info_nav {
  color: #000;
  font-weight: bold;
  margin-bottom: 30px;
}

.row {
  color: #f1f1f1;
}



.navbar {
  background-color: #222;
  padding-top: 20px;
  padding-bottom: 10px;
  

}

.col-md-6 {
  padding: 10px 40px;
}

.col-md-6 a {
  color: #990033;
  text-decoration: underline;
}




#content {
  height:100%;
  margin: 0 auto !important;
font-size: 1.2em;
}

#content h2{font: 700 25px/0.5 'Oswald', Helvetica, sans-serif;
margin-top: 20px;
text-transform: uppercase;
margin-bottom: 10px;

line-height: 1.1;}

 #content a {
  color: #919191;
 }

 

#content .item { width: 100% !important;
  
line-height: 1.42857143;
background: #fafafa;
font: 400 15px/0.5 'News Cycle', Helvetica, sans-serif;
line-height: 1.4;
height: auto;
margin: 3px;
float:left;
    box-shadow:0 0 7px #bbb;

  
 }

.name_head { font: 700 29px/0.5 'Oswald', Helvetica, sans-serif;
margin-top: 20px;
text-transform: uppercase;
margin-bottom: 10px;
margin-top: 30px;
line-height: 1.1;

  
 }


/* responsive table */
        @media screen and (max-width: 480px) {
            table,
            tbody {
                display: block;
                width: 100%;
            }

            thead { display: none; }

            table tr,
            table th,
            table td {
                display: block;
                padding: 0;
                text-align: left;
                white-space: normal;
            }

            table tr {
                border-bottom: 1px solid #eee;
                padding-bottom: 11px;
                margin-bottom: 11px;
            }

            table th[data-title]:before,
            table td[data-title]:before {
                content: attr(data-title) ":\00A0";
                font-weight: bold;
            }

            table td {
                border: none;
                margin-bottom: 6px;
                color: #444;
            }
            table td:empty { display: none; }
            table td:first-child {
                font-size: 14px;
                font-weight: bold;
                margin-bottom: 6px;
                color: #333;
            }
            table td:first-child:before { content: ''; }
        }

 * {
  -webkit-box-sizing: border-box;
     -moz-box-sizing: border-box;
          box-sizing: border-box;
}

body {
  font-family: sans-serif;
}



/* ---- isotope ---- */

.isotope {
  background: #F5F5F5;
   width:100%;
    height: 515px !important;
    overflow: scroll;

  
}

.header .table-like {
width:100%;
border: black 1px solid;
}

#tcontent {
  width:100%;
}

/* clear fix */
.isotope:after {
  content: '';
  display: block;
  clear: both;
}

ul.isotope.table-like {
  
}

.isotope .table-like {
  overflow-y:scroll;
  width: 100%;
  position: absolute;
}

/* ---- vertical table-like ---- */

.table-like {
  list-style: none;
  
  width: 100%;
  margin: 0;
  padding: 0;
}

.table-like > li {
  width: 100% !important;
   padding: 5px;
line-height: 1.42857143;
background: #fafafa;
font: 400 15px/0.5 'News Cycle', Helvetica, sans-serif;
line-height: 1.4;
height: auto;
margin: 1px;
float:left;
    box-shadow:0 0 7px #bbb;
 
  clear: both;
}

/* clearfix */
.table-like > li:after {
  display: block;
  content: '';
  clear: both;
}

.table-like > li > * {
  float: left;
  padding: 4px 4px 1px 4px;
}

.table-like div { width: 13.0%; }

.table-like div.date_of_death { width: 7.0%; 
font-size: 13px;
display: inline;
word-wrap: break-word; }

.table-like li.data-each {
  position: relative;
}

.table-like .manner_of_death2 {
  display:none;
}

.table-like li.data-each:hover, .table-like li.data-each:hover a, .table-like li.data-each:hover div  {

  text-decoration: underline;
}

.table-like .name a { font: 700 18px/0.5 'Oswald', Helvetica, sans-serif;

text-transform: uppercase;
margin-bottom: 10px;
line-height: 1.1;
color: #919191; }

.table-like a { color: #000;

 }

 /* responsive table */
        @media screen and (max-width: 1064px) {
          body {
            margin-top:20px;

          }

        

#content .fullpost {
  margin-top: 23px;
}



        }

 /* responsive table */
        @media screen and (max-width: 968px) {
          body {
      margin-top: 35px;

          }

          
#content .fullpost {
  margin-top: 35px;
}


        }

 

 /* responsive table */
        @media screen and (max-width: 768px) {
          body {
margin-top: 93px;
          }

          
div.form-group {
  padding-top:10px;
}

.table-like li.data-each
            {
               width: 100% !important;
   padding: 0px;
font: 400 14px/0.5 'News Cycle', Helvetica, sans-serif;
line-height: 1.3;
height: auto;
    box-shadow:0 0 7px #bbb;
            }


            .table-like .headertext { font: 400 13px/0.5 'News Cycle', Helvetica, sans-serif;
            line-height: 1.3;
             }

             .table-like .name a{
  font: 400 15px/0.5 'News Cycle', Helvetica, sans-serif;
            line-height: 1.3;
            font-weight:bold;
}

#content .fullpost {
  margin-top: 95px;
}

        }

/* responsive table */
        @media screen and (max-width: 500px) {

          body {
            padding-top: 65px;

          }
           

            

            .table-like .headertext { display: none; }

            ul.header.table-like {display:none;}

            .navbar {
  

}

            .table-like li.data-each
            {
               width: 100% !important;
   padding: 12px;
font: 400 14px/0.5 'News Cycle', Helvetica, sans-serif;
line-height: 1.3;
height: auto;
float: left;
    clear: left;
    box-shadow:0 0 7px #bbb;
            }

            div.place:before, div.race:before,div.agency:before, div.offenses:before, div.cause_of_death:before {
                content: attr(data-title) ":\00A0";
                font-weight: bold;
            }


.table-like .name {
  clear: left;
  display:block;
  width: 50%;
}

.table-like div { width: 100%; }

.table-like div.date_of_death { width: 50%; 
float:left;
font-weight: bold;}

.table-like .manner_of_death {
  display:none;
}

.table-like .manner_of_death2, .table-like .manner_of_death2 a {
  display:block;
  font-size: 15px;
  text-align: center;
  font-weight: bold;
  padding-bottom: 5px;
  color: #990033;

}

            


        }




#content .manner_of_death, .table-like .manner_of_death a { color: #990033;
  font-weight: bold;

 }
.head, .headertext .date_of_death {
  font-weight: bolder;
}


.btn-primary, .btn-primary:hover {
  background-color: #990033;
  border-color :#7A0029;

}



.col-xs-7 .col-sm-4 .col-md-4 .col-lg-4 .col-xs-offset-1 .col-lg-offset-1 {
  margin-top: 10px;
}






form.form-inline a {
  padding-left:10px;
  color: #D1CFCF;
 }
 

 select#filters.form-control {

 }


 input#query.form-control {
 
 }

 #content .fullpost { 
   padding: 20px;
line-height: 1.42857143;
background: #fafafa;
font: 400 15px/0.5 'News Cycle', Helvetica, sans-serif;
line-height: 1.4;
height: auto;
    box-shadow:0 0 7px #bbb;

  
 }

 #content blockquote {
  font-weight: bold;
  border-right: 5px solid #eee;
 }

 #content blockquote a {
  color: #404040;
 }

 #content .item:hover { opacity: 0.8;
  

  
 }

.link_to_press a {
  margin-bottom: 50px;

 }






  .video-responsive{
    overflow:hidden;
    padding-bottom:56.25%;
    position:relative;
    height:0;
}
.video-responsive iframe{
    left:0;
    top:0;
    height:100%;
    width:100%;
    background: #f5f5f5;
    position:absolute;
}

.video-responsive p{
}

nav.share {display:inline-block;} /* shareable's nav tag */
nav.share div {float:left; overflow:hidden;}
nav.share iframe {max-height:20px; border:0; margin-top:0; padding-top:0;} /* if using medium sized buttons */
#___plusone_0 {max-width:70px; font-size: default;}
.twitter-share-button, .twitter-count-horizontal {max-width:80px;
}
.fb_iframe_widget span { vertical-align: top; }
.fb_edge_widget_with_comment { vertical-align: top;}
.fb-like{display:inline-block}
* html .fb-like{display:inline}/* ie6 inline block fix*/
*+html .fb-like{display:inline}/* ie7 inline block fix*/
  
/* line 5, /Users/castudil/police-death/app/assets/stylesheets/pages.css.scss */
body {
  padding-top: 65px;
  height: 600px;
  background-image: radial-gradient(center bottom, ellipse cover, white, #e9e9e9);
  background-image: -o-radial-gradient(center bottom, ellipse cover, white, #e9e9e9);
  background-image: -ms-radial-gradient(center bottom, ellipse cover, white, #e9e9e9);
  background-image: -moz-radial-gradient(center bottom, ellipse cover, white, #e9e9e9);
  background-image: -webkit-radial-gradient(center bottom, ellipse cover, white, #e9e9e9);
}

/* line 14, /Users/castudil/police-death/app/assets/stylesheets/pages.css.scss */
.navbar-default .navbar-brand {
  color: #d2d2d2;
}

/* line 18, /Users/castudil/police-death/app/assets/stylesheets/pages.css.scss */
.navbar-fixed-top {
  background-color: #222;
}

/* line 20, /Users/castudil/police-death/app/assets/stylesheets/pages.css.scss */
#content a.more_info_nav {
  color: #000;
  font-weight: bold;
  margin-bottom: 30px;
}

/* line 26, /Users/castudil/police-death/app/assets/stylesheets/pages.css.scss */
.row {
  color: #f1f1f1;
}

/* line 32, /Users/castudil/police-death/app/assets/stylesheets/pages.css.scss */
.navbar {
  background-color: #222;
  padding-top: 20px;
  padding-bottom: 10px;
}

/* line 42, /Users/castudil/police-death/app/assets/stylesheets/pages.css.scss */
#content {
  height: 100%;
  margin: 0 auto !important;
  font-size: 1.2em;
}

/* line 48, /Users/castudil/police-death/app/assets/stylesheets/pages.css.scss */
#content h2 {
  font: 700 25px/0.5 'Oswald', Helvetica, sans-serif;
  margin-top: 20px;
  text-transform: uppercase;
  margin-bottom: 10px;
  line-height: 1.1;
}

/* line 55, /Users/castudil/police-death/app/assets/stylesheets/pages.css.scss */
#content a {
  color: #919191;
}

/* line 61, /Users/castudil/police-death/app/assets/stylesheets/pages.css.scss */
#content .item {
  width: 100% !important;
  line-height: 1.42857143;
  background: #fafafa;
  font: 400 15px/0.5 'News Cycle', Helvetica, sans-serif;
  line-height: 1.4;
  height: auto;
  margin: 3px;
  float: left;
  box-shadow: 0 0 7px #bbb;
}

/* line 75, /Users/castudil/police-death/app/assets/stylesheets/pages.css.scss */
.name_head {
  font: 700 29px/0.5 'Oswald', Helvetica, sans-serif;
  margin-top: 20px;
  text-transform: uppercase;
  margin-bottom: 10px;
  margin-top: 30px;
  line-height: 1.1;
}

/* responsive table */
@media screen and (max-width: 480px) {
  /* line 89, /Users/castudil/police-death/app/assets/stylesheets/pages.css.scss */
  table,
  tbody {
    display: block;
    width: 100%;
  }

  /* line 94, /Users/castudil/police-death/app/assets/stylesheets/pages.css.scss */
  thead {
    display: none;
  }

  /* line 98, /Users/castudil/police-death/app/assets/stylesheets/pages.css.scss */
  table tr,
  table th,
  table td {
    display: block;
    padding: 0;
    text-align: left;
    white-space: normal;
  }

  /* line 105, /Users/castudil/police-death/app/assets/stylesheets/pages.css.scss */
  table tr {
    border-bottom: 1px solid #eee;
    padding-bottom: 11px;
    margin-bottom: 11px;
  }

  /* line 112, /Users/castudil/police-death/app/assets/stylesheets/pages.css.scss */
  table th[data-title]:before,
  table td[data-title]:before {
    content: attr(data-title) ":\00A0";
    font-weight: bold;
  }

  /* line 117, /Users/castudil/police-death/app/assets/stylesheets/pages.css.scss */
  table td {
    border: none;
    margin-bottom: 6px;
    color: #444;
  }

  /* line 122, /Users/castudil/police-death/app/assets/stylesheets/pages.css.scss */
  table td:empty {
    display: none;
  }

  /* line 123, /Users/castudil/police-death/app/assets/stylesheets/pages.css.scss */
  table td:first-child {
    font-size: 14px;
    font-weight: bold;
    margin-bottom: 6px;
    color: #333;
  }

  /* line 129, /Users/castudil/police-death/app/assets/stylesheets/pages.css.scss */
  table td:first-child:before {
    content: '';
  }
}
/* line 132, /Users/castudil/police-death/app/assets/stylesheets/pages.css.scss */
* {
  -webkit-box-sizing: border-box;
  -moz-box-sizing: border-box;
  box-sizing: border-box;
}

/* line 138, /Users/castudil/police-death/app/assets/stylesheets/pages.css.scss */
body {
  font-family: sans-serif;
}

/* ---- isotope ---- */
/* line 146, /Users/castudil/police-death/app/assets/stylesheets/pages.css.scss */
.isotope {
  background: #F5F5F5;
  width: 100%;
  height: 515px !important;
  overflow: scroll;
}

/* line 155, /Users/castudil/police-death/app/assets/stylesheets/pages.css.scss */
.header .table-like {
  width: 100%;
  border: black 1px solid;
}

/* line 160, /Users/castudil/police-death/app/assets/stylesheets/pages.css.scss */
#tcontent {
  width: 100%;
}

/* clear fix */
/* line 165, /Users/castudil/police-death/app/assets/stylesheets/pages.css.scss */
.isotope:after {
  content: '';
  display: block;
  clear: both;
}

/* line 175, /Users/castudil/police-death/app/assets/stylesheets/pages.css.scss */
.isotope .table-like {
  overflow-y: scroll;
  width: 100%;
  position: absolute;
}

/* ---- vertical table-like ---- */
/* line 183, /Users/castudil/police-death/app/assets/stylesheets/pages.css.scss */
.table-like {
  list-style: none;
  width: 100%;
  margin: 0;
  padding: 0;
}

/* line 191, /Users/castudil/police-death/app/assets/stylesheets/pages.css.scss */
.table-like > li {
  width: 100% !important;
  padding: 5px;
  line-height: 1.42857143;
  background: #fafafa;
  font: 400 15px/0.5 'News Cycle', Helvetica, sans-serif;
  line-height: 1.4;
  height: auto;
  margin: 1px;
  float: left;
  box-shadow: 0 0 7px #bbb;
  clear: both;
}

/* clearfix */
/* line 207, /Users/castudil/police-death/app/assets/stylesheets/pages.css.scss */
.table-like > li:after {
  display: block;
  content: '';
  clear: both;
}

/* line 213, /Users/castudil/police-death/app/assets/stylesheets/pages.css.scss */
.table-like > li > * {
  float: left;
  padding: 4px 4px 1px 4px;
}

/* line 218, /Users/castudil/police-death/app/assets/stylesheets/pages.css.scss */
.table-like div {
  width: 13.0%;
}

/* line 220, /Users/castudil/police-death/app/assets/stylesheets/pages.css.scss */
.table-like div.date_of_death {
  width: 7.0%;
  font-size: 13px;
  display: inline;
  word-wrap: break-word;
}

/* line 225, /Users/castudil/police-death/app/assets/stylesheets/pages.css.scss */
.table-like li.data-each {
  position: relative;
}

/* line 229, /Users/castudil/police-death/app/assets/stylesheets/pages.css.scss */
.table-like .manner_of_death2 {
  display: none;
}

/* line 233, /Users/castudil/police-death/app/assets/stylesheets/pages.css.scss */
.table-like li.data-each:hover, .table-like li.data-each:hover a, .table-like li.data-each:hover div {
  text-decoration: underline;
}

/* line 238, /Users/castudil/police-death/app/assets/stylesheets/pages.css.scss */
.table-like .name a {
  font: 700 18px/0.5 'Oswald', Helvetica, sans-serif;
  text-transform: uppercase;
  margin-bottom: 10px;
  line-height: 1.1;
  color: #919191;
}

/* line 245, /Users/castudil/police-death/app/assets/stylesheets/pages.css.scss */
.table-like a {
  color: #000;
}

/* responsive table */
@media screen and (max-width: 1064px) {
  /* line 251, /Users/castudil/police-death/app/assets/stylesheets/pages.css.scss */
  body {
    margin-top: 20px;
  }

  /* line 258, /Users/castudil/police-death/app/assets/stylesheets/pages.css.scss */
  #content .fullpost {
    margin-top: 23px;
  }
}
/* responsive table */
@media screen and (max-width: 968px) {
  /* line 268, /Users/castudil/police-death/app/assets/stylesheets/pages.css.scss */
  body {
    margin-top: 35px;
  }

  /* line 274, /Users/castudil/police-death/app/assets/stylesheets/pages.css.scss */
  #content .fullpost {
    margin-top: 35px;
  }
}
/* responsive table */
@media screen and (max-width: 768px) {
  /* line 285, /Users/castudil/police-death/app/assets/stylesheets/pages.css.scss */
  body {
    margin-top: 93px;
  }

  /* line 290, /Users/castudil/police-death/app/assets/stylesheets/pages.css.scss */
  div.form-group {
    padding-top: 10px;
  }

  /* line 295, /Users/castudil/police-death/app/assets/stylesheets/pages.css.scss */
  .table-like li.data-each {
    width: 100% !important;
    padding: 0px;
    font: 400 14px/0.5 'News Cycle', Helvetica, sans-serif;
    line-height: 1.3;
    height: auto;
    box-shadow: 0 0 7px #bbb;
  }

  /* line 305, /Users/castudil/police-death/app/assets/stylesheets/pages.css.scss */
  .table-like .headertext {
    font: 400 13px/0.5 'News Cycle', Helvetica, sans-serif;
    line-height: 1.3;
  }

  /* line 309, /Users/castudil/police-death/app/assets/stylesheets/pages.css.scss */
  .table-like .name a {
    font: 400 15px/0.5 'News Cycle', Helvetica, sans-serif;
    line-height: 1.3;
    font-weight: bold;
  }

  /* line 315, /Users/castudil/police-death/app/assets/stylesheets/pages.css.scss */
  #content .fullpost {
    margin-top: 95px;
  }
}
/* responsive table */
@media screen and (max-width: 500px) {
  /* line 324, /Users/castudil/police-death/app/assets/stylesheets/pages.css.scss */
  body {
    padding-top: 65px;
  }

  /* line 332, /Users/castudil/police-death/app/assets/stylesheets/pages.css.scss */
  .table-like .headertext {
    display: none;
  }

  /* line 334, /Users/castudil/police-death/app/assets/stylesheets/pages.css.scss */
  ul.header.table-like {
    display: none;
  }

  /* line 342, /Users/castudil/police-death/app/assets/stylesheets/pages.css.scss */
  .table-like li.data-each {
    width: 100% !important;
    padding: 12px;
    font: 400 14px/0.5 'News Cycle', Helvetica, sans-serif;
    line-height: 1.3;
    height: auto;
    float: left;
    clear: left;
    box-shadow: 0 0 7px #bbb;
  }

  /* line 353, /Users/castudil/police-death/app/assets/stylesheets/pages.css.scss */
  div.place:before, div.race:before, div.agency:before, div.offenses:before, div.cause_of_death:before {
    content: attr(data-title) ":\00A0";
    font-weight: bold;
  }

  /* line 359, /Users/castudil/police-death/app/assets/stylesheets/pages.css.scss */
  .table-like .name {
    clear: left;
    display: block;
    width: 50%;
  }

  /* line 365, /Users/castudil/police-death/app/assets/stylesheets/pages.css.scss */
  .table-like div {
    width: 100%;
  }

  /* line 367, /Users/castudil/police-death/app/assets/stylesheets/pages.css.scss */
  .table-like div.date_of_death {
    width: 50%;
    float: left;
    font-weight: bold;
  }

  /* line 371, /Users/castudil/police-death/app/assets/stylesheets/pages.css.scss */
  .table-like .manner_of_death {
    display: none;
  }

  /* line 375, /Users/castudil/police-death/app/assets/stylesheets/pages.css.scss */
  .table-like .manner_of_death2, .table-like .manner_of_death2 a {
    display: block;
    font-size: 15px;
    text-align: center;
    font-weight: bold;
    padding-bottom: 5px;
    color: #990033;
  }
}
/* line 393, /Users/castudil/police-death/app/assets/stylesheets/pages.css.scss */
#content .manner_of_death, .table-like .manner_of_death a {
  color: #990033;
  font-weight: bold;
}

/* line 397, /Users/castudil/police-death/app/assets/stylesheets/pages.css.scss */
.head, .headertext .date_of_death {
  font-weight: bolder;
}

/* line 402, /Users/castudil/police-death/app/assets/stylesheets/pages.css.scss */
.btn-primary, .btn-primary:hover {
  background-color: #990033;
  border-color: #7A0029;
}

/* line 410, /Users/castudil/police-death/app/assets/stylesheets/pages.css.scss */
.col-xs-7 .col-sm-4 .col-md-4 .col-lg-4 .col-xs-offset-1 .col-lg-offset-1 {
  margin-top: 10px;
}

/* line 419, /Users/castudil/police-death/app/assets/stylesheets/pages.css.scss */
form.form-inline a {
  padding-left: 10px;
  color: #D1CFCF;
}

/* line 434, /Users/castudil/police-death/app/assets/stylesheets/pages.css.scss */
#content .fullpost {
  padding: 20px;
  line-height: 1.42857143;
  background: #fafafa;
  font: 400 15px/0.5 'News Cycle', Helvetica, sans-serif;
  line-height: 1.4;
  height: auto;
  box-shadow: 0 0 7px #bbb;
}

/* line 446, /Users/castudil/police-death/app/assets/stylesheets/pages.css.scss */
#content blockquote {
  font-weight: bold;
  border-right: 5px solid #eee;
}

/* line 451, /Users/castudil/police-death/app/assets/stylesheets/pages.css.scss */
#content blockquote a {
  color: #404040;
}

/* line 455, /Users/castudil/police-death/app/assets/stylesheets/pages.css.scss */
#content .item:hover {
  opacity: 0.8;
}

/* line 461, /Users/castudil/police-death/app/assets/stylesheets/pages.css.scss */
.link_to_press a {
  margin-bottom: 50px;
}

/* line 471, /Users/castudil/police-death/app/assets/stylesheets/pages.css.scss */
.video-responsive {
  overflow: hidden;
  padding-bottom: 56.25%;
  position: relative;
  height: 0;
}

/* line 477, /Users/castudil/police-death/app/assets/stylesheets/pages.css.scss */
.video-responsive iframe {
  left: 0;
  top: 0;
  height: 100%;
  width: 100%;
  background: #f5f5f5;
  position: absolute;
}

/* line 489, /Users/castudil/police-death/app/assets/stylesheets/pages.css.scss */
nav.share {
  display: inline-block;
}

/* shareable's nav tag */
/* line 490, /Users/castudil/police-death/app/assets/stylesheets/pages.css.scss */
nav.share div {
  float: left;
  overflow: hidden;
}

/* line 491, /Users/castudil/police-death/app/assets/stylesheets/pages.css.scss */
nav.share iframe {
  max-height: 20px;
  border: 0;
  margin-top: 0;
  padding-top: 0;
}

/* if using medium sized buttons */
/* line 492, /Users/castudil/police-death/app/assets/stylesheets/pages.css.scss */
#___plusone_0 {
  max-width: 70px;
  font-size: default;
}

/* line 493, /Users/castudil/police-death/app/assets/stylesheets/pages.css.scss */
.twitter-share-button, .twitter-count-horizontal {
  max-width: 80px;
}

/* line 495, /Users/castudil/police-death/app/assets/stylesheets/pages.css.scss */
.fb_iframe_widget span {
  vertical-align: top;
}

/* line 496, /Users/castudil/police-death/app/assets/stylesheets/pages.css.scss */
.fb_edge_widget_with_comment {
  vertical-align: top;
}

/* line 497, /Users/castudil/police-death/app/assets/stylesheets/pages.css.scss */
.fb-like {
  display: inline-block;
}

/* line 498, /Users/castudil/police-death/app/assets/stylesheets/pages.css.scss */
* html .fb-like {
  display: inline;
}

/* ie6 inline block fix*/
/* line 499, /Users/castudil/police-death/app/assets/stylesheets/pages.css.scss */
* + html .fb-like {
  display: inline;
}

/* ie7 inline block fix*/
