
<!DOCTYPE html>
<html>
	<head>

  

  </head>
  <body>


<div id="sorts" class="button-group">
 

</div>


<ul class="isotope table-like">
	<li>

   


  	<% @posts.each do |post| %>
    
  
    
    <%= render 'posts/post', post:post %>

 
</li>


  


<% end %>
</ul>


<%= will_paginate @posts %>
</body>
  
	</html>


