
<span class="pull-right"></span>
  <h2><%= link_to post.title, post %></h2>


<p>

	<div class="video-responsive">

</div>

<p style="margin: 0;font-size: 12px;padding-top: 0.5em;width: 100%;font-weight: bold;text-align: right;display: inline-block;"></p>
  





<blockquote>
  
</blockquote>
  

