
    




<ul class="isotope table-like">
  <li>

   <div class="head">Name</div>
    <div class="head">Police Agency</div>
    <div class="head">Manner of Death</div>
    <div class="head">Date of Death</div>
    <div class="head">Place</div>
    <div class="head">Gender</div>
  <div class="head">Date of Birth</div>
    <div class="head">Race</div>
  <div class="head">Cause of Death</div>
  <div class="head">Offenses</div>



    <% @posts.each do |post| %>
    
  
    
    <%= render 'posts/post', post:post %>

 
</li>


  


<% end %>
</ul>


<%= will_paginate @posts %>
